<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 语音提示 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SysCamera.verify.FaceVerificationActivity"
            android:exported="false"
            android:theme="@style/Theme.FaceAISDK.Fullscreen" />

        <activity
            android:name=".SysCamera.verify.LivenessDetectActivity"
            android:exported="false"
            android:theme="@style/Theme.FaceAISDK.Fullscreen" />


        <activity
            android:name=".UVCCamera.search.FaceSearch_UVCCameraActivity"
            android:exported="true"
            android:theme="@style/FaceAITheme" />
        <activity
            android:name=".UVCCamera.verify.FaceVerify_UVCCameraActivity"
            android:exported="true"
            android:theme="@style/FaceAITheme" />
        <activity
            android:name=".UVCCamera.addFace.AddFace_UVCCameraActivity"
            android:exported="true"
            android:theme="@style/FaceAITheme" />
        <activity
            android:name=".FaceAINaviActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SysCamera.verify.TwoFaceImageVerifyActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:theme="@style/FaceAITheme"/>

        <activity
            android:name=".UVCCamera.liveness.Liveness_UVCCameraActivity"
            android:exported="false"
            android:theme="@style/FaceAITheme" />
        <activity
            android:name=".AboutFaceAppActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SysCamera.camera.CustomCameraActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SysCamera.search.FaceSearchImageMangerActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>


        <activity
            android:name=".SysCamera.addFace.AddFaceImageActivity"
            android:exported="false"
            android:theme="@style/FaceAITheme" />
        <activity
            android:name=".SysCamera.search.FaceSearch1NActivity"
            android:exported="false"
            android:theme="@style/FaceAITheme" />
        <activity
            android:name=".SysCamera.search.FaceSearch1NWithMotionLivenessActivity"
            android:exported="false"
            android:theme="@style/FaceAITheme" />
        <activity
            android:name=".SysCamera.search.FaceSearchMNActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SysCamera.verify.FaceVerifyWelcomeActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".SysCamera.search.SearchNaviActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".FaceAISettingsActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>

    </application>

</manifest>